<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Adda Calculator</title>
    <link rel="stylesheet" href="/styles/calculator.css">
    <link rel="stylesheet" href="/styles/utiliti.css">
</head>

<body>
    <nav>
        <div class="calHeding">
            <a href="http://127.0.0.1:5500/index.html">
                <h1>MATH Adda</h1>
            </a>
        </div>

        <div class="calculator">CALCULATOR</div>
    </nav>

    <main>
        <div class="mainbox">
            <div class="mainbox2">
                <div class="spicer"></div>
                <div class="dinamicIland"><img src="/imgs/camra.png" width="17px"></div>
                <div class="fullScree"></div>
                <!-- main box start -->
                <div class="mainbox3">
                    <div class="iconbox">
                        <div class="time">10:34AM</div>
                        <div class="icons">
                            <img class="img img1" src="/imgs/wifi.png">
                            <img class="img img2" src="/imgs/signal.png">
                            <img class="img img3" src="/imgs/battery.png">
                        </div>
                    </div>
                    <div class="theme"><button class="themebtn"><img src="/imgs/theme.png"></button></div>
                    <div class="calculatorBox">
                        <div class="inputBox"><input type="text" class="input" placeholder="0"></div>
                        <div class="calNumbers">
                            <div class="boxes1">
                                <div class="box2 box">AC</div>
                                <div class="box3 box">%</div>
                                <div class="box4 box">/</div>
                            </div>

                            <div class="boxes2">
                                <div class="box5 box">7</div>
                                <div class="box6 box">8</div>
                                <div class="box7 box">9</div>
                                <div class="box8 box">*</div>
                            </div>

                            <div class="boxes3">
                                <div class="box9 box">4</div>
                                <div class="box10 box">5</div>
                                <div class="box11 box">6</div>
                                <div class="box12 box">-</div>
                            </div>

                            <div class="boxes4">
                                <div class="box13 box">1</div>
                                <div class="box14 box">2</div>
                                <div class="box15 box">3</div>
                                <div class="box16 box">+</div>
                            </div>

                            <div class="boxes5">

                                <div class="box17 box">0</div>
                                <div class="box18 box">.</div>
                                <div class="box19 box">=</div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- main box end -->

            </div>
        </div>
    </main>

    <script src="/scripts/calculator.js"></script>
</body>

</html>