<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATH Adda Sum Practice</title>
    <link rel="stylesheet" href="/styles/sumStyles/sumLevel.css">
</head>

<body>
    <nav>
        <div class="calHeding">
            <a href="http://127.0.0.1:5500/index.html">
                <h1>MATH Adda</h1>
            </a>
        </div>

        <div class="calculator">
            <a href="http://127.0.0.1:5500/components/sumComponects/sum.html">
                <p>L1</p>
            </a>
            <a href="http://127.0.0.1:5500/components/sumComponects/sumLevel.html">
                <p>L2</p>
            </a>
            <a href="http://127.0.0.1:5500/components/sumComponects/sumLevel3.html">
                <p>L3</p>
            </a>
            <a href="http://127.0.0.1:5500/components/sumComponects/sumLevel4.html">
                <p>L4</p>
            </a>
        </div>
    </nav>

    <div class="level">
        <h1 class="level">Level - 2</h1>
    </div>

    <main>
        <!-- sum box start -->
        <div class="box sum">
            <p class="optitle">ADDITION</p>
            <div class="numBox">
                <div class="sumSymbol">
                    <p>+</p>
                </div>
                <div class="sumnumbers">
                    <div class="sumNum1">3</div>
                    <div class="sumNum2">4</div>
                </div>
            </div>

            <div class="inputbox">
                <input class="userInput input" type="text">
            </div>

            <div class="btns">
                <div class="sumscore score">0</div>
                <button class="resbtn btn1">Result</button>
                <button class="nextbtn btn2">Next</button>
            </div>

            <div class="result">RESULT</div>
        </div>
        <!-- sum box end -->
    </main>




    <script src="/scripts/sumScripts/sumLevel.js"></script>
</body>

</html>